{% comment %}
  https://shopify.dev/docs/storefronts/themes/architecture/templates/password
{% endcomment %}

<main>
  <h1>{{ 'password.title' | t }}</h1>

  {% if shop.password_message %}
    <p>{{ shop.password_message }}</p>
  {% endif %}

  {% form 'storefront_password' %}
    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}

    <label for='password-input'>
      {{ 'password.password' | t }}
    </label>

    <input type='password' name='password' id='password-input'>

    <button type='submit'>
      {{ 'password.enter' | t }}
    </button>
  {% endform %}
</main>

{% schema %}
{
  "name": "t:general.password",
  "settings": []
}
{% endschema %}
